!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
._*
.accio/
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build/
.cache
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.env
.env.build
.fseventsd
.LSOverride
.next/
.now
.Spotlight-V100
.TemporaryItems
.Trashes
.vercel
.VolumeIcon.icns
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcodeproj/*
*.xcscmblueprint
**/xcshareddata/WorkspaceSettings.xcsettings
/*.gcno
build/
Carthage/Build/
coverage/
Dependencies/
DerivedData/
dist
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
Icon
iOSInjectionProject/
Network Trash Folder
node_modules/
out/
playground.xcworkspace
Temporary Items
timeline.xctimeline
xcuserdata/
*:Zone.Identifier
