:root {
    color-scheme: light dark;
}

body {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
    body {
        background-color: #000;
        color: #fff;
    }
}
